@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient( #8F7FF9, #F2B4AE);
    }

    div#login {
        width: 75%;
        height: 65%;
    }

    
    div#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    div#login > div#main {
        float: right;
        width: 70%;
    }

    div#main  {
        transform: translateY(30px);
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(#8F7FF9, #F2B4AE);
    }

    div#login {
        width: 60vw;
        height: 70vh;
    }

    div#main  {
        transform: translateY(40px);
    }

    div#login > div#imagem {
        float: left;
        width: 40%;
        height: 100%;
    }
    
    div#login > div#main {
        float: right;
        width: 60%;
    }
}